// --
// -- Colors
// --
$color-primary: #eceff1;
$color-primary-dark: #babdbe;
$color-primary-light: #ffffff;
$color-secondary: #546e7a;
$color-secondary-light: #819ca9;
$color-secondary-dark: #29434e;
// --
// -- Font-sizes
// --
$font-size: 18px;
$font-size-sm: 16px;
$icon-size: 32px;
$icon-size-sm: 24px;